body, html {
  margin: 0;
  padding: 0;
  font-family: 'Calvino Grande Trial', sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1200px;
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 30px;
}

button {
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  padding: 10px 30px;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 25px;
}

button:hover {
  background-color: #ffffff;
  color: #0b0b0b;
}

.image-fader {
  width: 100%;
  height: 0;
  position: absolute;
  right: 25%;
  top: 40%;
  opacity: 20%;
  transform: translateY(-50%);
  z-index: 1;
}

.image-fader img {
  width: 50%;
  height: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.image-fader img:nth-child(1) {
  animation-name: imagefade1;
  animation-delay: 1ms;
}

.image-fader img:nth-child(2) {
  animation-name: imagefade2;
  animation-delay: 1ms;
}

.image-fader img:nth-child(3) {
  animation-name: imagefade3;
  animation-delay: 1ms;
}

.image-fader img:nth-child(4) {
  animation-name: imagefade4;
  animation-delay: 1ms;
}

@keyframes imagefade1 {
  0%, 20% { opacity: 1; }
  25%, 100% { opacity: 0; }
}

@keyframes imagefade2 {
  0%, 25% { opacity: 0; }
  30%, 50% { opacity: 1; }
  55%, 100% { opacity: 0; }
}

@keyframes imagefade3 {
  0%, 50% { opacity: 0; }
  55%, 75% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

@keyframes imagefade4 {
  0%, 75% { opacity: 0; }
  80%, 100% { opacity: 1; }
}

@media (min-width: 600px) {
  header {
      margin-bottom: 40px;
  }

  h1 {
      font-size: 3rem;
      margin-right: 20px;
  }

  main {
      flex-direction: row;
      justify-content: flex-start;
  }

  .content {
      width: 60%;
      padding-right: 20px;
      text-align: left;
  }

  h2 {
      font-size: 2rem;
      margin-bottom: 20px;
  }

  p {
      font-size: 1.4rem;
      margin-bottom: 70px;
  }

  button {
      padding: 11px 45px;
      font-size: 1.2rem;
  }

  .image-fader {
    opacity: 100%;
    width: 525px;
    right: 5px;
  }
}
