body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Calvino Grande Trial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    overflow-x: hidden;
}

.header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    background-color: #0d0d0d; 
    z-index: 1000; 
    padding: 3em 0; 
    text-align: center; 
    border-bottom: 1px solid #fff; 
}

.header h1 {
    font-size: 3em;
    text-align: left;
    margin: 0; 
    font-weight: bold;
}

header h1 span {
    display: block;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 200px; 
    padding-bottom: 20px; 
}

h2 {
    font-size: 1em; 
    font-weight: 700; 
    margin: 20px 0; 
}

p {
    font-size: 1.2rem; 
    font-weight: 700;
}

p span {
    display: block; 
    margin-top: 10px; 
    font-weight: 200;
}

.task-icons {
    display: block; 
    width: 100%; 
    text-align: center;
}

.task-item {
    text-align: center;
    position: relative;
    transition: transform 0.5s ease;
    margin-bottom: 20px; 
}

.task-icon {
    width: 150px;
    opacity: 0.5; 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.task-item:hover .task-icon {
    transform: scale(2.0); 
    opacity: 1; 
    cursor: pointer;
}

.task-info {
    opacity: 0; 
    transition: opacity 0.5s ease; 
    margin-top: 90px;
    font-size: 2.0rem;
    color: #fff;
}

.task-item:hover .task-info {
    opacity: 1; 
}

.task-icon img {
    width: 100%;
    border-radius: 10%;
}

@media (min-width: 768px) {
    .task-icons {
        display: flex; 
        justify-content: center; 
        gap: 125px; 
    }

    .task-item {
        margin-bottom: 0; 
    }

    .header {
        position: relative; 
    }
}



